@import url('https://fonts.google.com/specimen/Montserrat');
@import url('https://fonts.google.com/specimen/Fraunces');
:root{
    /* colors  */
    --primary-color: #1C232B;
    --secondary-color: #6C7289;
    --background-color: #F2EAE2;
    --green-color: #3D8168;
    --dark-green-color: #1A4032;
    --white-color: hsl(0, 0%, 100%);


    /* font */
    --font-family-primary: Fraunces;
    --font-family-secondary: Montserrat;
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-line-m: 23px;
    --font-size-l: 32px;
    --font-line-l: 32px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-secondary);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-primary);

    --font-bold: 700;
    --font-normal: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 28px 16px;
    width: calc(100% - 32px);

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 10px 10px 0 0;
}
.img {
    border-radius: 10px 10px 0 0;
    height: 240px;
    width: 100%;
    background: center / cover no-repeat url('images/image-product-mobile.jpg');

}

.content, .row {
    display: flex;
    padding: 0 24px;
    width: 100%;
}

.content .category {
    color: var(--secondary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    letter-spacing: 5px;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 12px;

}
.content {
    flex-direction: column;
    margin-top: 24px;
    margin-bottom: 24px;
}

.content h3{
    font: var(--font-l);
    font-weight: var(--font-bold);
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--primary-color);
    margin-bottom: 16px;
}

.content p {
    color: var(--secondary-color);
    font: var(--font-m);
    font-style: normal;
    font-weight: var(--font-normal);
}
.row {
    padding-bottom: 24px;
    align-items: center;
}

.price_primary {
    color: var(--green-color);
    font: var(--font-l);
    font-weight: var(--font-bold);
    font-feature-settings: 'clig' off, 'liga' off;

}

.price_secondary {
    margin-left: 19px;
    color: var(--secondary-color);
    font-size: calc(var(--font-size-m) - 1px);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 23px;
    text-decoration-line: line-through;
}

.row button {

    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-bold);
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    width: 100%;
    padding: 15px 0;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: var(--green-color);
    &:hover {
        background: var(--dark-green-color);
        transition: .2s ease;
    }
}

