@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.google.com/specimen/Fraunces');
:root{
    --desktop-screen: 1440px;
    --mobile-screen: 375px;
    /* colors  */
    --primary-color: #1C232B;
    --secondary-color: #6C7289;
    --background-color: #F2EAE2;
    --green-color: #3D8168;
    --dark-green-color: #1A4032;
    --white-color: hsl(0, 0%, 100%);


    /* font */
    --font-family-primary: 'Fraunces';
    --font-family-secondary: 'Montserrat';
    --font-size-s: 12px;
    --font-size-m: 14px;
    --font-line-m: 23px;
    --font-size-l: 32px;
    --font-line-l: 32px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-secondary);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-primary);

    --font-bold: 700;
    --font-normal: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 28px 16px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border-radius: 10px 10px 0 0;

}
.img {
    border-radius: 10px 10px 0 0;
    height: 240px;
    width: 100%;
    background: center / cover no-repeat url('images/image-product-mobile.jpg');
}
.content {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding: 3.6vh;
}
.category {
    color: var(--secondary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    letter-spacing: 5px;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 1.8vh;
}
.title {
    font: var(--font-l);
    font-weight: var(--font-bold);
    font-feature-settings: 'clig' off, 'liga' off;
    color: var(--primary-color);
    margin-bottom: 2.3vh;

}
.description {
    color: var(--secondary-color);
    font: var(--font-m);
    font-style: normal;
    font-weight: var(--font-normal);
}
.prices {
    display: flex;
    align-items: center;
    margin-top: 3.6vh;
    margin-bottom: 3vh;
    gap: 19px;
}

.prices .primary {
    color: var(--green-color);
    font: var(--font-l);
    font-weight: var(--font-bold);
    font-feature-settings: 'clig' off, 'liga' off;
}

.prices .secondary {
    color: var(--secondary-color);
    font-size: calc(var(--font-size-m) - 1px);
    font-style: normal;
    font-weight: var(--font-normal);
    line-height: 23px;
    text-decoration-line: line-through;
}
.card button {
    color: var(--white-color);
    font-size: var(--font-size-m);
    font-weight: var(--font-bold);
    font-family: var(--font-family-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-style: normal;
    font-feature-settings: 'clig' off, 'liga' off;
    width: 100%;
    padding: 15px 0;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    background: var(--green-color);
    cursor: pointer;
}
.card button::before {
    content: url("./images/icon-cart.svg");
}
.card button:hover {
    background: var(--dark-green-color);
    transition: .2s ease;
}


@media (min-width: 1440px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category {
    }
    .card {
        flex-direction: row;
        height: 450px;
        width: 600px;
        border-radius: 10px;
    }
    .img {
        border-radius: 10px 0 0 10px;
        height: 100%;
        width: 50%;
        background: center / cover no-repeat url('images/image-product-desktop.jpg');
    }
    .content {
        width: 50%;

    }
}
